
<app-banner-imagen-pelis></app-banner-imagen-pelis>

<div class="col-sm-12">
	
	<div class="card">
		<h3 class="card-header">Popular Series!</h3><br>
		
			<div class="row">

				<div *ngFor="let serie of diccionario; let isFirst = first; let isLast = last; let indexfor = index" 
				class="col-sm-6  col-md-4 col-xl-2 col-12" style="padding-bottom: 5px;">	
					<div class="card" >
						<h4 class="card-header">{{ serie.info_TMDB.nameLitel }}.</h4>
						<a routerLink="/serie/{{serie.id}}">
							<img class="img-fluid" style="width: 100%; display: block;" 
							src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{serie.info_TMDB.poster_path}}" alt="{{ serie.info_TMDB.name }}">
						</a>
						<div class="card-body">
							<p class="card-text">{{serie.info_TMDB.overviewLitle}} </p>
						</div>
						<div class="card-footer">

									<i class="fa fa-heart float-left" aria-hidden="true">  <span class="like">{{serie.info_TMDB.vote_average}}</span> </i> 
							 
									<i class="fa fa-thumbs-up float-right" aria-hidden="true">  <span class="like"> {{serie.info_TMDB.vote_count}} </span> </i> 
							
						</div>
					</div>
				</div> 	
				
			</div>

			<div class="container-fluid">
				
							<div class="row">
				
								<div class="col-sm-6" style="padding-top: 10px;">
				
									<a *ngIf="nextPageSeries == 1 else htmlLocalHost" routerLink="/" class="btn-block btn btn-success disabled" role="button"><h2>Atras</h2> </a>
									<ng-template #htmlLocalHost>
										<a *ngIf="nextPageSeries== 2 else conteEnBoton" routerLink="/popular-series" (click)="previusPage()" class="btn-block btn btn-success" role="button">
											<h2>Atras</h2> </a>
									</ng-template>
									<ng-template #conteEnBoton>
										<a routerLink="/pag-seri/{{previusPageSeries}}" (click)="previusPage()" class="btn-block btn btn-success" role="button">
											<h2>Atras</h2> </a>
									</ng-template>
				
								</div>
				
								<div class="col-sm-6" style="padding-top: 10px;">
				
									<a routerLink="/pag-seri/{{nextPageSeries}}" (click)="nextPage()" class="btn-block btn btn-success" role="button">
										<h2>Siguiente</h2> </a>
				
								</div>
				
							</div>
				
						</div>
	
				
				<br>

		<div class="card-footer text-muted">
			<app-footer></app-footer>
		</div>
	</div>
</div>