.nav-link{
    font-size: 150%;
    font-family: 'Roboto';
}

.navbar-brand{
    font-size: 200%;
    font-family: 'Luckiest Guy', cursive;
}

.form-inline{
    font-size: 200%;
    font-family: 'Luckiest Guy', cursive;
}