<div class="col-sm-12">
  
    <ngb-carousel>
      <ng-template ngbSlide>
        <img class="img-fluid" src="../assets/img/thor-ragnarok.png" alt="Random first slide">
        <div class="carousel-caption">
          <h3>Thor Ragnarok</h3>
          <p>
            El desafio a los dioses tiene su precio...
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="img-fluid" src="../assets/img/justice-league.png"  alt="Random second slide">
        <div class="carousel-caption">
          <h3>Justice League</h3>
          <p>Todos para uno y uno para todos...</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="img-fluid" src="../assets/img/jhon-wick.png" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Jhon Wick</h3>
          <p>Todos le buscan, ninguno le encuentra...</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="img-fluid" src="../assets/img/geostorm.png" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Geo Storm</h3>
          <p>Clima impredesible, tormanta fatal...</p>
        </div>
      </ng-template>
    </ngb-carousel>

</div>